html, body {
    margin: 0;
}
.container{
    display: flex;
    background-color: #313E50;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: space-between;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.buttons-container > div {
    display: flex;
}

.player-container{
    display: flex;
    align-self: flex-end;
    margin-right: 5rem;
}

.computer-container{
    display: flex;
    align-self: flex-start;
    margin-left: 5rem;
}

.computer-button {
    height: 100px;
    width: 100px;
    background-color: #F5B841;
    border-radius: 50%;
    margin: .5rem;
}